<style>
    fieldset {
        margin: 8px;
        border: 3px solid silver;
        padding: 12px;
        border-radius: 14px;
        width: 189px;
    }
</style>
<fieldset>
<h4><font font-color="blue"></font>Upload&nbsp;Files  </h4>
<select>
    <option value="image">Image</option>
    <option value="video">Video</option>
    <option value="pdf">Pdf</option>
    <option value="youtube">Youtube</option>
    <option value="facebook">Facebook</option>
</select>
<input #file type="file" style="width: 150px;"  size="50" width="48"  maxlength="50" multiple (change)="upload(file.files)" />
<br />
<span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
    {{progress}}%
</span>

<span style="font-weight:bold;color:green;" *ngIf="message">
    {{message}}
</span> </fieldset>